<footer class="main-footer">
  <div class="_container">
    <div class="footer-bg">
      <div class="footer-flex">
        <div class="footer-logo">
          <img src="assets/images/footer/footer-logo.svg">
        </div>
        <div class="footer-item">
          <address>
            <h3 class="title-footer">Адрес, телефон, e-mail</h3>
            <p>115409, Москва, Каширское ш., 31<br>+7 495 788 5699, +7 499 324 7777<br>info@mephi.ru</p>
            <div class="social">
              <a href=""><img src="assets/images/footer/telegram.svg"></a>
              <a href=""><img src="assets/images/footer/VK.svg"></a>
              <a href=""><img src="assets/images/footer/odnoklassniki.svg"></a>
              <a href=""><img src="assets/images/footer/youtube.svg"></a>
              <a href=""><img src="assets/images/footer/rutube.svg"></a>
            </div>
          </address>
        </div>
        <div class="footer-item">
          <address>
            <h3 class="title-footer">Приемная комиссия</h3>
            <p>+7 800 775 15 51 (многоканальный)<br>+7 495 785 55 25 (многоканальный)</p>
          </address>

          <div class="login">
            <img src="assets/images/footer/lock.png">
            <span>авторизация</span>
          </div>
        </div>
        <div class="footer-item">
          <p class="document">Свидетельство Роскомнадзора о регистрации Эл № ФС77-42318 Использование новостных материалов сайта возможно только при наличии активной ссылки на mephi.ru<br>Требования к новостным материалам сайта оговариваются редакционной политикой, ответственность за содержание новостных материалов несут авторы. Ответственный за редакционную политику: Начальник управления пресс-службы и информации Кузьмичев Андрей Николаевич<br><br><a href="https://mephi.ru/content/public/files/policy.pdf">Политика обработки персональных данных МИФИ</a></p>
        </div>
      </div>
    </div>
  </div>
</footer>
