.cd-slider {

    .slider-list {
        padding: 0;
        margin: 0;
        .slick-track {
            overflow: hidden;
        }

        .slider-item {
            position: relative;
            figure {
                margin: 0;
            }
            .slider-photo {
                width: 100%;
                object-fit: cover;
            }
            .slider-info {
                position: absolute;
                top: 50%;
                padding: 50px;
                left: 0;
                background: rgba($color-dark-sea, .75);
                opacity: 0;
                
                color: $color-white;
                transform: translateY(-50%);
                transition: all 0.4 linear;


                & h2 {
                    @include adaptiv-font(30, 18);
                    font-weight: 700;
                    text-transform: uppercase;
                    margin: 8px auto 5px 0;
                    opacity: 1;
                }
                & p {
                    @include adaptiv-font(20, 16);
                    font-weight: 400;
                    
                    opacity: 1;
                }
            }
            .slick-arrow {
                position: absolute;
                bottom: 2em;
                right: 2em;
                z-index: 2;
                background: $color-light-grey;
                background-size: 100%;
                border: 0;
                width: 30px;
                height: 25px;
                text-indent: -9999px;
                clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
                cursor: pointer;
                transition: all .5s ease;
              
                &:hover {
                  background-size: 190%;
                }
              
                &.slick-prev {
                  right: 5em;
                  transform: rotate(-90deg);
                }
              
                &.slick-next {
                  transform: rotate(90deg);
              
                }
            }
            .slick-active {
                .slider__text {
                  opacity: 1;
                }
              
                .slider__image img {
                  width: 100%;
                }
            }
        }
    }
}